{% extends 'base.html' %}
{% block title %}Добавление изображения в закладки{% endblock %}
{% block content %}
  <h1>Добавление изображения в закладки</h1>
  <img src="{{ request.GET.url }}" class="image-preview">
  <form action="." method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Добавить">
  </form>
{% endblock %}