{% extends 'base.html' %}
{% block title %}Вышел из системы{% endblock %}
{% block content %}
    <h1>Выход из системы</h1>
    <p>Вы успешно вышли из системы. Вы можете <a href="{% url 'login' %}"> авторизоваться снова</a></p>
{% endblock %}