{% extends 'base.html' %}
{% block title %}Авторизация{% endblock %}
{% block content %}
  <h1>Авторизация</h1>
  {% if forms.error %}
    <p>Ваше имя пользователя или пароль некорректны. Пожалуйста, попробуйте снова</p>
  {% else %}
    <p>Пожалуйста, используйте следующую форму для авторизации. Если у Вас нет account, <a href="{% url 'register' %}">зарегистрируйтесь</a></p>
  {% endif %}
  <form action="." method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <p><input type="submit" value="Авторизоваться"></p>
  </form>
  <p><a href="{% url 'password_reset' %}">Вы забыли пароль?</a></p>
{% endblock %}