{% extends 'base.html' %}
{% block title %}Сбросить Ваш пароль{% endblock %}
{% block content %}
    <h1>Сбросить Ваш пароль</h1>
    {% if validlink %}
        <p>Пожалуйста введите новый пароль дважды</p>
        <form action="." method="POST">
            {{ form.as_p }}
            {{ csrf_token }}
            <p><input type="submit" value="Изменить пароль"></p>
        </form>
    {% else %}
        <p>Сброс пароля невозможен, вероятно он уде используется. Пожалуйста, запросите новый сброс пароля</p>
    {% endif %}
{% endblock %}