{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
  <h1>Вы забыли пароль?</h1>
  <p>Введите Ваш e-mail адрес для получения нового пароля</p>
  <form action="." method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Отправить e-mail">
  </form>
{% endblock %}