{% extends 'base.html' %}
{% block title %}Пароль изменен{% endblock %}
{% block content %}
    <p>Пароль изменен</p>
    <p>Ваш пароль был изменен. Вы можете <a href="{% url 'login' %}">войти в систему</a></p>
{% endblock %}