{% extends 'base.html' %}
{% block title %}Смена Вашего пароля{% endblock %}
{% block content %}
  <h1>Смена Вашего пароля</h1>
  <p>Используйте следующую форму для смены Вашего пароля</p>
  <form action="." method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Изменить"></p>
  </form>
{% endblock %}