<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        <span class="logo">Закладки</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %} class="selected" {% endif %}>
                    <a href="{% url 'dashboard' %}">Моя информационная панель</a></li>
                <li {% if section == "images" %} class="selected" {% endif %}>
                    <a href="#">Изображения</a></li>
                <li {% if section == "people" %} class="selected" {% endif %}>
                    <a href="#">Люди</a></li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Привет {{ request.user.first_name }}, <a href="{% url 'logout' %}">выйти из системы?</a>
            {% else %}
                <a href="{% url 'login' %}">Авторизоваться?</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message | safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>