{% extends 'base.html' %}
{% block title %}Информационная панель{% endblock %}
{% block content %}
  <h1>Информационная панель</h1>
  <p>Добро пожаловать в Вашу информационную панель.
    Вы можете <a href="{% url 'edit' %}">редактировать Ваш профиль</a> или
    <a href="{% url 'password_change' %}">изменить Ваш пароль</a>
  </p>
{% endblock %}