{% extends 'base.html' %}
{% block title %}Редактирование Вашего account{% endblock %}
{% block content %}
    <h1>Редактирование Вашего account</h1>
    <p>Вы можете отредактировать account используя следующую форму</p>
    <form action="." method="POST" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Сохранить изменения"></p>
    </form>
{% endblock %}