{% extends 'base.html' %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <h1>Авторизация</h1>
    <p>Пожалуйста, используйте следующую форму для авторизации. Если у Вас нет account, <a href="{% url 'register' %}">зарегистрируйтесь</a></p>
    <form action="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Авторизоваться"></p>
    </form>
{% endblock %}