{% extends 'base.html' %}
{% block title %}Создать пользователя{% endblock %}
{% block content %}
  <h1>Создать пользователя</h1>
  <p>Пожалуйста, заполните следующую форму</p>
  <form action="." method="POST">
    {{ user_form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Создать пользователя">
  </form>
{% endblock %}