{% extends 'base.html' %}
{% block title %}Добро пожаловать в систему{% endblock %}
{% block content %}
    <h1>Добро пожаловать {{ new_user.first_name }}</h1>
    <p>Ваш account был успешно создан. Теперь Вы можете <a href="{% url 'login' %}">войти в систему</a></p>
{% endblock %}
